allow netd self:capability sys_module;
allow netd kernel:system module_request;
#============= netd ==============
allow netd unlabeled:file { read getattr open };

