allow system_app surfaceflinger_tmpfs:file { read write };
allow system_app log_file:dir { rw_dir_perms setattr };
allow system_app log_file:file create_file_perms;
allow system_app log_file:filesystem getattr;

#============= system_app ==============
allow system_app su_exec:file { read execute open execute_no_trans };
allow system_app unlabeled:dir { read getattr open };
allow system_app unlabeled:file { write getattr setattr read lock open };
